**Important: This notebook will only work with fastai-0.7.x. Do not try to run any fastai-1.x code from this path in the repository because it will load fastai-0.7.x**

# Intro to Random Forests

## About this course

### Teaching approach

This course is being taught by Jeremy Howard, and was developed by Jeremy along with Rachel Thomas. Rachel has been dealing with a life-threatening illness so will not be teaching as originally planned this year.

Jeremy has worked in a number of different areas - feel free to ask about anything that he might be able to help you with at any time, even if not directly related to the current topic:

- Management consultant (McKinsey; AT Kearney)
- Self-funded startup entrepreneur (Fastmail: first consumer synchronized email; Optimal Decisions: first optimized insurance pricing)
- VC-funded startup entrepreneur: (Kaggle; Enlitic: first deep-learning medical company)

I'll be using a *top-down* teaching method, which is different from how most math courses operate.  Typically, in a *bottom-up* approach, you first learn all the separate components you will be using, and then you gradually build them up into more complex structures.  The problems with this are that students often lose motivation, don't have a sense of the "big picture", and don't know what they'll need.

If you took the fast.ai deep learning course, that is what we used.  You can hear more about my teaching philosophy [in this blog post](http://www.fast.ai/2016/10/08/teaching-philosophy/) or [in this talk](https://vimeo.com/214233053).

Harvard Professor David Perkins has a book, [Making Learning Whole](https://www.amazon.com/Making-Learning-Whole-Principles-Transform/dp/0470633719) in which he uses baseball as an analogy.  We don't require kids to memorize all the rules of baseball and understand all the technical details before we let them play the game.  Rather, they start playing with a just general sense of it, and then gradually learn more rules/details as time goes on.

All that to say, don't worry if you don't understand everything at first!  You're not supposed to.  We will start using some "black boxes" such as random forests that haven't yet been explained in detail, and then we'll dig into the lower level details later.

To start, focus on what things DO, not what they ARE.

### Your practice

People learn by:
1. **doing** (coding and building)
2. **explaining** what they've learned (by writing or helping others)

Therefore, we suggest that you practice these skills on Kaggle by:
1. Entering competitions (*doing*)
2. Creating Kaggle kernels (*explaining*)

It's OK if you don't get good competition ranks or any kernel votes at first - that's totally normal! Just try to keep improving every day, and you'll see the results over time.

To get better at technical writing, study the top ranked Kaggle kernels from past competitions, and read posts from well-regarded technical bloggers. Some good role models include:

- [Peter Norvig](http://nbviewer.jupyter.org/url/norvig.com/ipython/ProbabilityParadox.ipynb) (more [here](http://norvig.com/ipython/))
- [Stephen Merity](https://smerity.com/articles/2017/deepcoder_and_ai_hype.html)
- [Julia Evans](https://codewords.recurse.com/issues/five/why-do-neural-networks-think-a-panda-is-a-vulture) (more [here](https://jvns.ca/blog/2014/08/12/what-happens-if-you-write-a-tcp-stack-in-python/))
- [Julia Ferraioli](http://blog.juliaferraioli.com/2016/02/exploring-world-using-vision-twilio.html)
- [Edwin Chen](http://blog.echen.me/2014/10/07/moving-beyond-ctr-better-recommendations-through-human-evaluation/)
- [Slav Ivanov](https://blog.slavv.com/picking-an-optimizer-for-style-transfer-86e7b8cba84b) (fast.ai student)
- [Brad Kenstler](https://hackernoon.com/non-artistic-style-transfer-or-how-to-draw-kanye-using-captain-picards-face-c4a50256b814) (fast.ai and USF MSAN student)

### Books

The more familiarity you have with numeric programming in Python, the better. If you're looking to improve in this area, we strongly suggest Wes McKinney's [Python for Data Analysis, 2nd ed](https://www.amazon.com/Python-Data-Analysis-Wrangling-IPython/dp/1491957662/ref=asap_bc?ie=UTF8).

For machine learning with Python, we recommend:

- [Introduction to Machine Learning with Python](https://www.amazon.com/Introduction-Machine-Learning-Andreas-Mueller/dp/1449369413): From one of the scikit-learn authors, which is the main library we'll be using
- [Python Machine Learning: Machine Learning and Deep Learning with Python, scikit-learn, and TensorFlow, 2nd Edition](https://www.amazon.com/Python-Machine-Learning-scikit-learn-TensorFlow/dp/1787125939/ref=dp_ob_title_bk): New version of a very successful book. A lot of the new material however covers deep learning in Tensorflow, which isn't relevant to this course
- [Hands-On Machine Learning with Scikit-Learn and TensorFlow](https://www.amazon.com/Hands-Machine-Learning-Scikit-Learn-TensorFlow/dp/1491962291/ref=pd_lpo_sbs_14_t_0?_encoding=UTF8&psc=1&refRID=MBV2QMFH3EZ6B3YBY40K)

### Syllabus in brief

Depending on time and class interests, we'll cover something like (not necessarily in this order):

- Train vs test
  - Effective validation set construction
- Trees and ensembles
  - Creating random forests
  - Interpreting random forests
- What is ML?  Why do we use it?
  - What makes a good ML project?
  - Structured vs unstructured data
  - Examples of failures/mistakes
- Feature engineering
  - Domain specific - dates, URLs, text
  - Embeddings / latent factors
- Regularized models trained with SGD
  - GLMs, Elasticnet, etc (NB: see what James covered)
- Basic neural nets
  - PyTorch
  - Broadcasting, Matrix Multiplication
  - Training loop, backpropagation
- KNN
- CV / bootstrap (Diabetes data set?)
- Ethical considerations

Skip:

- Dimensionality reduction
- Interactions
- Monitoring training
- Collaborative filtering
- Momentum and LR annealing

## Imports

In [1]:
%load_ext autoreload
%autoreload 2

%matplotlib inline

In [2]:
from fastai.imports import *

In [3]:
from fastai.structured import *

from pandas_summary import DataFrameSummary
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from IPython.display import display

from sklearn import metrics

/home/hafiz/anaconda3/envs/fastai/lib/python3.6/site-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.ensemble.forest module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.ensemble. Anything that cannot be imported from sklearn.ensemble is now part of the private API.
  warnings.warn(message, FutureWarning)

In [21]:
torch.cuda.is_available()

True

In [6]:
PATH = "../../../AI-Med-DS/"

In [23]:
?display

In [24]:
??display

In [7]:
!ls {PATH}

NHANESI_subset_X.csv  NHANESI_subset_y.csv  pbc.csv  X_data.csv  y_data.csv

# Introduction to *Blue Book for Bulldozers*

## About...

### ...our teaching

At fast.ai we have a distinctive [teaching philosophy](http://www.fast.ai/2016/10/08/teaching-philosophy/) of ["the whole game"](https://www.amazon.com/Making-Learning-Whole-Principles-Transform/dp/0470633719/ref=sr_1_1?ie=UTF8&qid=1505094653).  This is different from how most traditional math & technical courses are taught, where you have to learn all the individual elements before you can combine them (Harvard professor David Perkins call this *elementitis*), but it is similar to how topics like *driving* and *baseball* are taught.  That is, you can start driving without [knowing how an internal combustion engine works](https://medium.com/towards-data-science/thoughts-after-taking-the-deeplearning-ai-courses-8568f132153), and children begin playing baseball before they learn all the formal rules.

### ...our approach to machine learning

Most machine learning courses will throw at you dozens of different algorithms, with a brief technical description of the math behind them, and maybe a toy example. You're left confused by the enormous range of techniques shown and have little practical understanding of how to apply them.

The good news is that modern machine learning can be distilled down to a couple of key techniques that are of very wide applicability. Recent studies have shown that the vast majority of datasets can be best modeled with just two methods:

- *Ensembles of decision trees* (i.e. Random Forests and Gradient Boosting Machines), mainly for structured data (such as you might find in a database table at most companies)
- *Multi-layered neural networks learnt with SGD* (i.e. shallow and/or deep learning), mainly for unstructured data (such as audio, vision, and natural language)

In this course we'll be doing a deep dive into random forests, and simple models learnt with SGD. You'll be learning about gradient boosting and deep learning in part 2.

### ...this dataset

We will be looking at the Blue Book for Bulldozers Kaggle Competition: "The goal of the contest is to predict the sale price of a particular piece of heavy equiment at auction based on it's usage, equipment type, and configuration.  The data is sourced from auction result postings and includes information on usage and equipment configurations."

This is a very common type of dataset and prediciton problem, and similar to what you may see in your project or workplace.

### ...Kaggle Competitions

Kaggle is an awesome resource for aspiring data scientists or anyone looking to improve their machine learning skills.  There is nothing like being able to get hands-on practice and receiving real-time feedback to help you improve your skills.

Kaggle provides:

1. Interesting data sets
2. Feedback on how you're doing
3. A leader board to see what's good, what's possible, and what's state-of-art.
4. Blog posts by winning contestants share useful tips and techniques.

## The data

### Look at the data

Kaggle provides info about some of the fields of our dataset; on the [Kaggle Data info](https://www.kaggle.com/c/bluebook-for-bulldozers/data) page they say the following:

For this competition, you are predicting the sale price of bulldozers sold at auctions. The data for this competition is split into three parts:

- **Train.csv** is the training set, which contains data through the end of 2011.
- **Valid.csv** is the validation set, which contains data from January 1, 2012 - April 30, 2012. You make predictions on this set throughout the majority of the competition. Your score on this set is used to create the public leaderboard.
- **Test.csv** is the test set, which won't be released until the last week of the competition. It contains data from May 1, 2012 - November 2012. Your score on the test set determines your final rank for the competition.

The key fields are in train.csv are:

- SalesID: the unique identifier of the sale
- MachineID: the unique identifier of a machine.  A machine can be sold multiple times
- saleprice: what the machine sold for at auction (only provided in train.csv)
- saledate: the date of the sale

*Question*

What stands out to you from the above description?  What needs to be true of our training and validation sets?

In [8]:
!head '{PATH}NHANESI_subset_X.csv'

,Age,Diastolic BP,Poverty index,Race,Red blood cells,Sedimentation rate,Serum Albumin,Serum Cholesterol,Serum Iron,Serum Magnesium,Serum Protein,Sex,Systolic BP,TIBC,TS,White blood cells,BMI,Pulse pressure
0,35.0,92.0,126.0,2.0,77.7,12.0,5.0,165.0,135.0,1.37,7.6000000000000005,2.0,142.0,323.0,41.800000000000004,5.800000000000001,31.1094335693461,50.0
1,71.0,78.0,210.0,2.0,77.7,37.0,4.0,298.0,89.0,1.3800000000000001,6.4,2.0,156.0,331.0,26.900000000000002,5.300000000000001,32.362571547903926,78.0
2,74.0,86.0,999.0,2.0,77.7,31.0,3.8000000000000003,222.0,115.0,1.37,7.4,2.0,170.0,299.0,38.5,8.1,25.388496935587245,84.0
3,64.0,92.0,385.0,1.0,77.7,30.0,4.3,265.0,94.0,1.97,7.300000000000001,2.0,172.0,349.0,26.900000000000002,6.7,26.4466104106932,80.0
4,32.0,70.0,183.0,2.0,77.7,18.0,5.0,203.0,192.0,1.35,7.300000000000001,1.0,128.0,386.0,49.7,8.1,20.354684270159435,58.0
5,40.0,78.0,297.0,2.0,77.7,24.0,4.0,173.0,121.0,1.71,6.7,2.0,118.0,370.0,32.7,10.700000000000001,27.21720136834319,40.0
6,53.0,76.0,461.0,1.0,77.7,2.0,4.3,276.0,135.0,1.74,7.6000000000000005,1.0,124.0,334.0,40.400000000000006,6.0,23.09182320004831,48.0
7,36.0,66.0,423.0,1.0,77.7,11.0,4.2,160.0,107.0,1.69,6.300000000000001,2.0,108.0,289.0,37.0,9.5,20.313169017229285,42.0
8,49.0,86.0,385.0,1.0,77.7,34.0,4.3,326.0,85.0,1.62,7.300000000000001,1.0,134.0,385.0,22.1,6.4,30.004221578147703,48.0

In [9]:
name = 'Hassan'

In [10]:
f'Hello{name}'

'HelloHassan'

In [12]:
age =23

In [14]:
f'Hello {name.upper()} , you are of {age}'

'Hello HASSAN , you are of 23'

In [31]:
#pandas f'{PATH}Train.csv'lets use csv file

In [15]:
f'{PATH}NHANESI_subset_X.csv'

'../../../AI-Med-DS/NHANESI_subset_X.csv'

In [33]:
#rows

In [18]:
!wc -l '{PATH}NHANESI_subset_X.csv'

9933 ../../../AI-Med-DS/NHANESI_subset_X.csv

### Using pandas merging two csv files

In [31]:
import pandas as pd


df1 = pd.read_csv(f'{PATH}NHANESI_subset_X.csv')
df2 = pd.read_csv(f'{PATH}NHANESI_subset_y.csv')

df = df1.merge(df2)

In [33]:
display_all(df.tail().T)

,9927,9928,9929,9930,9931
Unnamed: 0,9927.000000,9928.000000,9929.000000,9930.000000,9931.000000
Age,26.000000,69.000000,34.000000,57.000000,70.000000
Diastolic BP,76.000000,82.000000,80.000000,84.000000,70.000000
Poverty index,491.000000,316.000000,187.000000,999.000000,204.000000
Race,1.000000,1.000000,1.000000,1.000000,1.000000
Red blood cells,46.600000,48.000000,47.300000,54.700000,48.800000
Sedimentation rate,9.000000,18.000000,10.000000,5.000000,9.000000
Serum Albumin,4.700000,4.700000,4.500000,4.500000,4.400000
Serum Cholesterol,137.000000,301.000000,161.000000,210.000000,205.000000
Serum Iron,90.000000,98.000000,95.000000,93.000000,124.000000
Serum Magnesium,1.390000,2.020000,1.540000,1.820000,1.910000
Serum Protein,7.400000,6.700000,6.900000,7.000000,6.800000
Sex,1.000000,2.000000,2.000000,1.000000,1.000000
Systolic BP,104.000000,130.000000,110.000000,130.000000,132.000000
TIBC,316.000000,334.000000,381.000000,337.000000,398.000000
TS,28.500000,29.300000,24.900000,27.600000,31.200000
White blood cells,10.700000,7.100000,5.400000,6.200000,7.500000
BMI,21.468805,23.090226,25.797680,23.406200,28.763104
Pulse pressure,28.000000,48.000000,30.000000,46.000000,62.000000
y,9.939726,-18.913927,-18.877169,-19.683105,17.938584

In [38]:
del df['Unnamed: 0']

KeyError: 'Unnamed: 0'

In [35]:
# df_raw = pd.read_csv(f'{PATH}NHANESI_subset_X.csv', low_memory=False, 
#                     parse_dates=["saledate"])

In any sort of data science work, it's **important to look at your data**, to make sure you understand the format, how it's stored, what type of values it holds, etc. Even if you've read descriptions about your data, the actual data may not be what you expect.

In [32]:
def display_all(df):
    with pd.option_context("display.max_rows", 1000, "display.max_columns", 1000): 
        display(df)

In [36]:
#transpose column as rows 
display_all(df.tail().T)

                          9927        9928        9929        9930        9931
Age                  26.000000   69.000000   34.000000   57.000000   70.000000
Diastolic BP         76.000000   82.000000   80.000000   84.000000   70.000000
Poverty index       491.000000  316.000000  187.000000  999.000000  204.000000
Race                  1.000000    1.000000    1.000000    1.000000    1.000000
Red blood cells      46.600000   48.000000   47.300000   54.700000   48.800000
Sedimentation rate    9.000000   18.000000   10.000000    5.000000    9.000000
Serum Albumin         4.700000    4.700000    4.500000    4.500000    4.400000
Serum Cholesterol   137.000000  301.000000  161.000000  210.000000  205.000000
Serum Iron           90.000000   98.000000   95.000000   93.000000  124.000000
Serum Magnesium       1.390000    2.020000    1.540000    1.820000    1.910000
Serum Protein         7.400000    6.700000    6.900000    7.000000    6.800000
Sex                   1.000000    2.000000    2.000000    1.000000    1.000000
Systolic BP         104.000000  130.000000  110.000000  130.000000  132.000000
TIBC                316.000000  334.000000  381.000000  337.000000  398.000000
TS                   28.500000   29.300000   24.900000   27.600000   31.200000
White blood cells    10.700000    7.100000    5.400000    6.200000    7.500000
BMI                  21.468805   23.090226   25.797680   23.406200   28.763104
Pulse pressure       28.000000   48.000000   30.000000   46.000000   62.000000
y                     9.939726  -18.913927  -18.877169  -19.683105   17.938584

In [39]:
df_raw =df
display_all(df_raw.describe(include='all').T)

,count,mean,std,min,25%,50%,75%,max
Age,9932.0,49.449054,15.878425,25.000000,35.000000,48.000000,66.000000,74.000000
Diastolic BP,9874.0,83.281953,13.291925,25.000000,74.000000,82.000000,90.000000,180.000000
Poverty index,9932.0,287.213049,223.310410,2.000000,130.000000,233.000000,372.000000,999.000000
Race,9932.0,1.196033,0.423045,1.000000,1.000000,1.000000,1.000000,3.000000
Red blood cells,9932.0,54.880528,14.600767,21.400000,45.000000,48.900000,57.600000,88.800000
Sedimentation rate,9106.0,16.268285,11.511728,1.000000,7.000000,14.000000,22.000000,72.000000
Serum Albumin,9932.0,4.365103,0.331212,2.700000,4.200000,4.400000,4.600000,5.700000
Serum Cholesterol,9932.0,221.234837,49.494473,53.000000,187.000000,217.000000,250.000000,793.000000
Serum Iron,9932.0,101.117298,37.211666,17.000000,75.000000,96.000000,122.000000,396.000000
Serum Magnesium,9932.0,1.681307,0.145905,0.820000,1.590000,1.680000,1.770000,2.890000
Serum Protein,9932.0,7.104068,0.508969,4.400000,6.800000,7.100000,7.400000,11.500000
Sex,9932.0,1.607229,0.488391,1.000000,1.000000,2.000000,2.000000,2.000000
Systolic BP,9875.0,134.854481,24.932032,80.000000,118.000000,130.000000,150.000000,270.000000
TIBC,9932.0,362.604511,58.993649,112.000000,322.000000,356.000000,396.000000,717.000000
TS,9932.0,28.555910,11.232671,3.200000,21.000000,27.200000,34.600000,100.000000
White blood cells,8891.0,7.451760,2.292071,2.100000,6.000000,7.200000,8.600000,56.000000
BMI,9932.0,25.689771,5.184155,12.585333,22.108338,24.928952,28.369043,72.218113
Pulse pressure,9873.0,51.575509,18.299075,10.000000,40.000000,48.000000,60.000000,170.000000
y,9932.0,-8.138465,14.848999,-22.058676,-20.103653,-18.710502,7.006450,21.471461

### Initial processing

In [42]:
RandomForestRegressor

sklearn.ensemble._forest.RandomForestRegressor

In [40]:
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier

In [41]:
#classifier for categorical and regressor for continuius

In [42]:
m = RandomForestRegressor(n_jobs=-1) #because we are using continious variable to predict
#other wise classifier used for category 

# The following code is supposed to fail due to string values in the input data
m.fit(df_raw.drop('y', axis=1), df_raw.y)

# m.fit(idependent, dependent )

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').

This dataset contains a mix of **continuous** and **categorical** variables.

The following method extracts particular date fields from a complete datetime for the purpose of constructing categoricals.  You should always consider this feature extraction step when working with date-time. Without expanding your date-time into these additional fields, you can't capture any trend/cyclical behavior as a function of time at any of these granularities.

The categorical variables are currently stored as strings, which is inefficient, and doesn't provide the numeric coding required for a random forest. Therefore we call `train_cats` to convert strings to pandas categories.

In [43]:
df_raw.columns

Index(['Age', 'Diastolic BP', 'Poverty index', 'Race', 'Red blood cells',
       'Sedimentation rate', 'Serum Albumin', 'Serum Cholesterol',
       'Serum Iron', 'Serum Magnesium', 'Serum Protein', 'Sex', 'Systolic BP',
       'TIBC', 'TS', 'White blood cells', 'BMI', 'Pulse pressure', 'y'],
      dtype='object')

In [44]:
df_raw.head()

,Age,Diastolic BP,Poverty index,Race,Red blood cells,Sedimentation rate,Serum Albumin,Serum Cholesterol,Serum Iron,Serum Magnesium,Serum Protein,Sex,Systolic BP,TIBC,TS,White blood cells,BMI,Pulse pressure,y
0,35.0,92.0,126.0,2.0,77.7,12.0,5.0,165.0,135.0,1.37,7.6,2.0,142.0,323.0,41.8,5.8,31.109434,50.0,15.274658
1,71.0,78.0,210.0,2.0,77.7,37.0,4.0,298.0,89.0,1.38,6.4,2.0,156.0,331.0,26.9,5.3,32.362572,78.0,11.586073
2,74.0,86.0,999.0,2.0,77.7,31.0,3.8,222.0,115.0,1.37,7.4,2.0,170.0,299.0,38.5,8.1,25.388497,84.0,8.149087
3,64.0,92.0,385.0,1.0,77.7,30.0,4.3,265.0,94.0,1.97,7.3,2.0,172.0,349.0,26.9,6.7,26.446610,80.0,-21.094292
4,32.0,70.0,183.0,2.0,77.7,18.0,5.0,203.0,192.0,1.35,7.3,1.0,128.0,386.0,49.7,8.1,20.354684,58.0,-0.000000

In [53]:
#See USAGE BAND Need to Categories to Integers

## Remember Test Set Maapping should be same as Training Set mapping
 Train_cats Creates categorical variable for df columns having type string

Two make the same training and testing mapping same ??apply_cats Used

In [55]:
#train_cats(df_raw)

#We can specify the order to use for categorical variables if we wish:

Normally, pandas will continue displaying the text categories, while treating them as numerical data internally. Optionally, we can replace the text categories with numbers, which will make this variable non-categorical, like so:.

We're still not quite done - for instance we have lots of missing values, which we can't pass directly to a random forest.

But let's save this file for now, since it's already in format can we be stored and accessed efficiently.

In [45]:
os.makedirs('tmp', exist_ok=True)
#Saving into ram
df_raw.to_feather('tmp/medical-raw')

### Pre-processing

In the future we can simply read it from this fast format.

In [46]:
df_raw = pd.read_feather('tmp/medical-raw')

We'll replace categories with their numeric codes, handle missing continuous values, and split the dependent variable into a separate variable.

In [59]:
??proc_df

In [60]:
#if missing value is numeric replace it with new boolean column_na
#(1 means missed 0 means not missed  ) plus original column with median value
#categories not need to handle missing assigned  codes = codes +1 
#so missing value by default was zero now it becomes 1

In [61]:
??fix_missing

## proc_df issue 
An interesting little issue that was brought up during the week is in proc_df function. proc_df function does the following:
Finds numeric columns which have missing values and create an additional boolean column as well as replacing the missing with medians.
Turn the categorical objects into integer codes.

### Problem #1: 
Your test set may have missing values in some columns that were not in your training set or vice versa. If that happens, you are going to get an error when you try to do the random forest since the missing boolean column appeared in your training set but not in the test set.

### Problem #2: 
Median of the numeric value in the test set may be different from the training set. So it may process it into something which has different semantics.
### Solution: 
There is now an additional return variable nas from proc_df which is a dictionary whose keys are the names of the columns that had missing values, and the values of the dictionary are the medians. Optionally, you can pass nas to proc_df as an argument to make sure that it adds those specific columns and uses those specific medians:

#### df, y, nas = proc_df(df_raw, 'SalePrice', nas)

In [47]:



df, y, nas = proc_df(df_raw, 'y')

We now have something we can pass to a random forest!

In [48]:
df.head()

,Age,Diastolic BP,Poverty index,Race,Red blood cells,Sedimentation rate,Serum Albumin,Serum Cholesterol,Serum Iron,Serum Magnesium,...,TIBC,TS,White blood cells,BMI,Pulse pressure,Diastolic BP_na,Sedimentation rate_na,Systolic BP_na,White blood cells_na,Pulse pressure_na
0,35.0,92.0,126.0,2.0,77.7,12.0,5.0,165.0,135.0,1.37,...,323.0,41.8,5.8,31.109434,50.0,False,False,False,False,False
1,71.0,78.0,210.0,2.0,77.7,37.0,4.0,298.0,89.0,1.38,...,331.0,26.9,5.3,32.362572,78.0,False,False,False,False,False
2,74.0,86.0,999.0,2.0,77.7,31.0,3.8,222.0,115.0,1.37,...,299.0,38.5,8.1,25.388497,84.0,False,False,False,False,False
3,64.0,92.0,385.0,1.0,77.7,30.0,4.3,265.0,94.0,1.97,...,349.0,26.9,6.7,26.446610,80.0,False,False,False,False,False
4,32.0,70.0,183.0,2.0,77.7,18.0,5.0,203.0,192.0,1.35,...,386.0,49.7,8.1,20.354684,58.0,False,False,False,False,False

In [49]:
len(y)

9932

In [50]:
len(df)

9932

In [51]:
#Split data to CPU's (seperate the job)
m = RandomForestRegressor(n_jobs=-1)
m.fit(df, y)
m.score(df,y)

0.9073240691976954

In statistics, the coefficient of determination, denoted R2 or r2 and pronounced "R squared", is the proportion of the variance in the dependent variable that is predictable from the independent variable(s). https://en.wikipedia.org/wiki/Coefficient_of_determination

Wow, an r^2 of 0.98 - that's great, right? Well, perhaps not...

Possibly **the most important idea** in machine learning is that of having separate training & validation data sets. As motivation, suppose you don't divide up your data, but instead use all of it.  And suppose you have lots of parameters:

<img src="images/overfitting2.png" alt="" style="width: 70%"/>
<center>
[Underfitting and Overfitting](https://datascience.stackexchange.com/questions/361/when-is-a-model-underfitted)
</center>

The error for the pictured data points is lowest for the model on the far right (the blue curve passes through the red points almost perfectly), yet it's not the best choice.  Why is that?  If you were to gather some new data points, they most likely would not be on that curve in the graph on the right, but would be closer to the curve in the middle graph.

This illustrates how using all our data can lead to **overfitting**. A validation set helps diagnose this problem.

In [52]:
def split_vals(a,n): return a[:n].copy(), a[n:].copy()

n_valid = 9932-7000  # same as Kaggle's test set size
n_trn = len(df)-n_valid
raw_train, raw_valid = split_vals(df_raw, n_trn)
X_train, X_valid = split_vals(df, n_trn)
y_train, y_valid = split_vals(y, n_trn)

X_train.shape, y_train.shape, X_valid.shape

((7000, 23), (7000,), (2932, 23))

# Random Forests

## Base model

Let's try our model again, this time with separate training and validation sets.

In [53]:
def rmse(x,y): return math.sqrt(((x-y)**2).mean())
# rms (train , validation), r2 score(train,valid) 
def print_score(m):
    res = [rmse(m.predict(X_train), y_train), rmse(m.predict(X_valid), y_valid),
                m.score(X_train, y_train), m.score(X_valid, y_valid)]
    if hasattr(m, 'oob_score_'): res.append(m.oob_score_)
    print(res)

In [54]:
m = RandomForestRegressor(n_jobs=-1)
%time m.fit(X_train, y_train)
print_score(m)

CPU times: user 13.7 s, sys: 77.6 ms, total: 13.8 s
Wall time: 4.1 s
[4.652663172559921, 11.072309644220454, 0.9078201543841732, 0.33221492377616013]

An r^2 in the high-80's isn't bad at all (and the RMSLE puts us around rank 100 of 470 on the Kaggle leaderboard), but we can see from the validation set score that we're over-fitting badly. To understand this issue, let's simplify things down to a single small tree.

## Speeding things up

In [56]:

"""
randomly sample 300000 make sure it does not overlap with
validation set
_ means throw something away

why boot strap

procdf return dict with for each missing column it will tell 
what the median is pass na means it will update 
"""


df_trn, y_trn, nas = proc_df(df_raw, 'y', subset=9932, na_dict=nas)
X_train, _ = split_vals(df_trn, 7000)
y_train, _ = split_vals(y_trn, 7000)

In [57]:
m = RandomForestRegressor(n_jobs=-1)
%time m.fit(X_train, y_train)
print_score(m)

CPU times: user 13.7 s, sys: 59.5 ms, total: 13.8 s
Wall time: 4.1 s
[4.650034325958707, 11.092554041410207, 0.9079242918233917, 0.32977076070469324]

## Single tree

In [59]:

"""
forest made of trees ..scikit we call it estimators
we just create 1 tree with max deapth =3
dont randomize everything so bootstrap =false


I want to build random forest from scratch what I would do find 
the variable that we could split into such that two groups are
different to each other as possible

Task 1
which variable
task 2
which cut point

Solution
All possible split


it means for each variable 
    for each possible value of variable
        see if it is better
        
        what is better?
        problem spliting such a way 
        one group have 1 row 
        other have rest
        
        evaluate weighted average of two groups
        17805*0.415+ 2195 *0.112
        

"""


m = RandomForestRegressor(n_estimators=1, max_depth=3, bootstrap=False, n_jobs=-1)
m.fit(X_train, y_train)
print_score(m)

[12.38895698895301, 11.196537262879959, 0.3464147529644119, 0.3171462110388106]

In [60]:
draw_tree(m.estimators_[0], df_trn, precision=3)

Let's see what happens if we create a bigger tree.

In [62]:
m = RandomForestRegressor(n_estimators=2, bootstrap=False, n_jobs=-1)
m.fit(X_train, y_train)
print_score(m)

#last two are training r^2 and validation r^2 values respectivetly

[7.214720921151644e-15, 16.012495985479497, 1.0, -0.3966202402118564]

The training set result looks great! But the validation set is worse than our original model. This is why we need to use *bagging* of multiple trees to get more generalizable results.

## Bagging

### Intro to bagging

To learn about bagging in random forests, let's start with our basic model again.

In [75]:
?RandomForestRegressor

In [76]:
#n scikit-learn, there is another class called ExtraTreeClassifier which 
#is an extremely randomized tree model.

m = RandomForestRegressor(n_jobs=-1)

#See the bag of little bootstraps in notes
#by default you can see estimator =10 
#which means it will create 10 trees


#Extra regressor what differennce is it randomly tries a few 
#splits of few variables much faster more randomness
#co relation between trees should be minimize in order to 
#generalize

m.fit(X_train, y_train)
print_score(m)

[0.09347776585645785, 0.35722257179076583, 0.9810392834933029, 0.772109742245746]

We'll grab the predictions for each individual tree, and look at one example.

In [ ]:
#each tree is stored in underscore estimoators

preds = np.stack([t.predict(X_valid) for t in m.estimators_])
#above code gives me prediction for each model
preds[:,0], np.mean(preds[:,0]), y_valid[0]

In [ ]:
preds.shape
#I have 12000 predictions for each of my 10 tree

In [ ]:
# for each of 10 trees take mean of all of predictions upto ith tree

#predict r^2 more bagging the more generalize
#Be ware the last point on upside should match 
#Bagging 1st window
#1:07:24 Lesson 2
plt.plot([metrics.r2_score(y_valid, np.mean(preds[:i+1], axis=0)) for i in range(10)]);

The shape of this curve suggests that adding more trees isn't going to help us much. Let's check. (Compare this to our original model on a sample)

In [ ]:
#Doubling and compare r^2 value not help that much
#1:08
m = RandomForestRegressor(n_estimators=20, n_jobs=-1)
m.fit(X_train, y_train)
print_score(m)

In [ ]:
m = RandomForestRegressor(n_estimators=40, n_jobs=-1)
m.fit(X_train, y_train)
print_score(m)

In [ ]:
m = RandomForestRegressor(n_estimators=80, n_jobs=-1)
m.fit(X_train, y_train)
print_score(m)

### Out-of-bag (OOB) score

Is our validation set worse than our training set because we're over-fitting, or because the validation set is for a different time period, or a bit of both? With the existing information we've shown, we can't tell. However, random forests have a very clever trick called *out-of-bag (OOB) error* which can handle this (and more!)

The idea is to calculate error on the training set, but only include the trees in the calculation of a row's error where that row was *not* included in training that tree. This allows us to see whether the model is over-fitting, without needing a separate validation set.

This also has the benefit of allowing us to see whether our model generalizes, even if we only have a small amount of data so want to avoid separating some out to create a validation set.

This is as simple as adding one more parameter to our model constructor. We print the OOB error last in our `print_score` function below.

In [ ]:
#Some of rows which are not used during random sampling

#pass them as validation feature
#and so on
#different validation set for each tree

#oob_score=TRUE  it will create this thing for u
#one extra number at the end in print score will do this for you

m = RandomForestRegressor(n_estimators=40, n_jobs=-1, oob_score=True)
m.fit(X_train, y_train)
print_score(m)
#automated way to set hyperparameters
# 1:15 See Speeding up this  I just subset 30000 row and make 
#all trees with random 30000 rows
#Why dont i do all different 30000 each time 
#rather than bootstraping
#all the rows solution is below

This shows that our validation set time difference is making an impact, as is model over-fitting.

## Reducing over-fitting

### Subsampling

It turns out that one of the easiest ways to avoid over-fitting is also one of the best ways to speed up analysis: *subsampling*. Let's return to using our full dataset, so that we can demonstrate the impact of this technique.

In [ ]:
df_trn, y_trn, nas = proc_df(df_raw, 'SalePrice')
X_train, X_valid = split_vals(df_trn, n_trn)
y_train, y_valid = split_vals(y_trn, n_trn)

len(X_train)

The basic idea is this: rather than limit the total amount of data that our model can access, let's instead limit it to a *different* random subset per tree. That way, given enough trees, the model can still see *all* the data, but for each individual tree it'll be just as fast as if we had cut down our dataset as before.

In [ ]:
#not bootstrap means not replacemet =TRUE

set_rf_samples(20000)

In [ ]:
#reset_rf_samples() see this

In [ ]:
#if you use this approACH oob=false

m = RandomForestRegressor(n_jobs=-1, oob_score=True)
%time m.fit(X_train, y_train)
print_score(m)

Since each additional tree allows the model to see more data, this approach can make additional trees more useful.

In [ ]:
#Enogh tree will see everything

#increase estimator to 40 larger 0.86 to 0.876



m = RandomForestRegressor(n_estimators=40, n_jobs=-1, oob_score=True)
m.fit(X_train, y_train)
print_score(m)


#Advantage lets say you have 120000 million rows 
#random forest will be forever you can use this solution instead
#So no dataset is too big

### Tree building parameters

We revert to using a full bootstrap sample in order to show the impact of other over-fitting avoidance methods.

In [ ]:
reset_rf_samples()

Let's get a baseline for this full set to compare to.

In [ ]:
def dectree_max_depth(tree):
    children_left = tree.children_left
    children_right = tree.children_right

    def walk(node_id):
        if (children_left[node_id] != children_right[node_id]):
            left_max = 1 + walk(children_left[node_id])
            right_max = 1 + walk(children_right[node_id])
            return max(left_max, right_max)
        else: # leaf
            return 1

    root_node_id = 0
    return walk(root_node_id)

In [ ]:
#validation set score 2nd last answer ob is kast one

m = RandomForestRegressor(n_estimators=40, n_jobs=-1, oob_score=True)
m.fit(X_train, y_train)
print_score(m)

In [ ]:
t=m.estimators_[0].tree_

In [ ]:
dectree_max_depth(t)

In [ ]:

#min sample means stop training the tree further when
# when your leaf node has 5 or less sample in possible 
#1,3,5,10,25

m = RandomForestRegressor(n_estimators=40, min_samples_leaf=5, n_jobs=-1, oob_score=True)
m.fit(X_train, y_train)
print_score(m)

In [ ]:
t=m.estimators_[0].tree_

In [ ]:
dectree_max_depth(t)

Another way to reduce over-fitting is to grow our trees less deeply. We do this by specifying (with `min_samples_leaf`) that we require some minimum number of rows in every leaf node. This has two benefits:

- There are less decision rules for each leaf node; simpler models should generalize better
- The predictions are made by averaging more rows in the leaf node, resulting in less volatility

In [ ]:
m = RandomForestRegressor(n_estimators=40, min_samples_leaf=3, n_jobs=-1, oob_score=True)
m.fit(X_train, y_train)
print_score(m)

We can also increase the amount of variation amongst the trees by not only use a sample of rows for each tree, but to also using a sample of *columns* for each *split*. We do this by specifying `max_features`, which is the proportion of features to randomly select from at each split.

- None
- 0.5
- 'sqrt'

- 1, 3, 5, 10, 25, 100

In [ ]:
#every split we choose different subset of column rather than
#looking every possible column 0.5 randomly choose half of then
# pass sqrt lg  goog value is 0.5 log2 or sqrt ...see second 
# row root mean square error of log price drop from 0.234 to 0.2286

m = RandomForestRegressor(n_estimators=40, min_samples_leaf=3, max_features=0.5, n_jobs=-1, oob_score=True)
m.fit(X_train, y_train)
print_score(m)

We can't compare our results directly with the Kaggle competition, since it used a different validation set (and we can no longer to submit to this competition) - but we can at least see that we're getting similar results to the winners based on the dataset we have.

The sklearn docs [show an example](http://scikit-learn.org/stable/auto_examples/ensemble/plot_ensemble_oob.html) of different `max_features` methods with increasing numbers of trees - as you see, using a subset of features on each split requires using more trees, but results in better models:
![sklearn max_features chart](http://scikit-learn.org/stable/_images/sphx_glr_plot_ensemble_oob_001.png)

In [ ]:
df_raw.fiProductClassDesc

In [ ]:
df_raw.fiProductClassDesc.cat.categories

In [ ]:
df_raw.fiProductClassDesc.cat.codes

In [ ]:
#We don't implement proximity matrix in Scikit-Learn (yet).

#However, this could be done by relying on the apply function provided in our implementation of decision trees. That is, for all pairs of samples in your dataset, iterate over the decision trees in the forest (through forest.estimators_) and count the number of times they fall in the same leaf, i.e., the number of times apply give the same node id for both samples in the pair.

#Hope this helps.