In [10]:
import scipy.io
import numpy as np
mat = scipy.io.loadmat('auto_mpg.mat')

In [11]:
data = mat.get('data')
data = np.array(data)

In [12]:
labels = mat.get('labels')

In [13]:
labels = np.array(labels)

In [14]:
import pandas as pd

In [15]:
df = pd.DataFrame(data=data[0:,0:],
                 index = [i for i in range(data.shape[0])],
                 columns =['f'+ str(i) for i in range(data.shape[1])])

In [16]:
df2 = pd.DataFrame(data=labels[0:,0:],
                 index = [i for i in range(labels.shape[0])],
                 columns =['y' for i in range(labels.shape[1])])

In [17]:
hs = pd.concat([df, df2], axis=1)

In [18]:
hs.to_csv(f'auto-mpg.csv')

In [19]:
hs

      f0     f1      f2    f3    f4   f5  y
0    8.0  307.0  3504.0  12.0  70.0  1.0  1
1    8.0  350.0  3693.0  11.5  70.0  1.0  1
2    8.0  318.0  3436.0  11.0  70.0  1.0  1
3    8.0  304.0  3433.0  12.0  70.0  1.0  1
4    8.0  302.0  3449.0  10.5  70.0  1.0  1
..   ...    ...     ...   ...   ...  ... ..
393  4.0  140.0  2790.0  15.6  82.0  1.0  2
394  4.0   97.0  2130.0  24.6  82.0  2.0  2
395  4.0  135.0  2295.0  11.6  82.0  1.0  2
396  4.0  120.0  2625.0  18.6  82.0  1.0  2
397  4.0  119.0  2720.0  19.4  82.0  1.0  2

[398 rows x 7 columns]