# Non-Parametric Estimators for Survival Analysis

Welcome to the third assignment of Course 2. In this assignment, we'll use Python to build some of the statistical models we learned this past week to analyze surivival estimates for a dataset of lymphoma patients. We'll also evaluate these models and interpret their outputs. Along the way, you will be learning about the following: 

- Censored Data
- Kaplan-Meier Estimates
- Subgroup Analysis

## Outline

- [1. Import Packages](#1)
- [2. Load the Dataset](#2)
- [3. Censored Data](#)
    - [Exercise 1](#Ex-1)
- [4. Survival Estimates](#4)
    - [Exercise 2](#Ex-2)
    - [Exercise 3](#Ex-3)
- [5. Subgroup Analysis](#5)
    - [5.1 Bonus: Log Rank Test](#5-1)

<a name='1'></a>
## 1. Import Packages

We'll first import all the packages that we need for this assignment. 

- `lifelines` is an open-source library for data analysis.
- `numpy` is the fundamental package for scientific computing in python.
- `pandas` is what we'll use to manipulate our data.
- `matplotlib` is a plotting library.

In [1]:
import lifelines
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from util import load_data

from lifelines import KaplanMeierFitter as KM
from lifelines.statistics import logrank_test

<a name='2'></a>
## 2. Load the Dataset

Run the next cell to load the lymphoma data set.

In [3]:
data = load_data(10)

/home/hafiz/anaconda3/envs/fastai/lib/python3.6/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [20]:
readdata

(       Age  Diastolic BP  Poverty index  Race  Red blood cells  \
 6807  69.0          74.0          372.0   1.0             46.1
 1053  68.0         110.0          999.0   2.0             50.5
 5782  37.0          80.0          491.0   1.0             43.2
 5173  57.0          70.0          584.0   1.0             45.5
 6118  29.0          60.0          308.0   1.0             48.1
 ...    ...           ...            ...   ...              ...
 6090  63.0          80.0          120.0   1.0             77.7
 8626  71.0          90.0          117.0   2.0             46.8
 1511  53.0          90.0          157.0   1.0             42.5
 8628  73.0          70.0           71.0   2.0             40.1
 1443  68.0          86.0          176.0   1.0             48.5

       Sedimentation rate  Serum Albumin  Serum Cholesterol  Serum Iron  \
 6807                25.0            3.9              193.0        99.0
 1053                18.0            4.1              213.0        92.0
 5782                19.0            4.8              189.0       103.0
 5173                15.0            4.0              182.0       123.0
 6118                11.0            4.3              170.0        43.0
 ...                  ...            ...                ...         ...
 6090                45.0            4.4              224.0       125.0
 8626                 5.0            4.1              201.0        78.0
 1511                22.0            4.4              166.0       119.0
 8628                60.0            3.8              187.0        58.0
 1443                43.0            4.0              223.0       159.0

       Serum Magnesium  Serum Protein  Sex  Systolic BP   TIBC    TS  \
 6807             1.64            7.0  2.0        142.0  275.0  36.0
 1053             1.54            7.0  2.0          NaN  372.0  24.7
 5782             1.71            7.1  2.0          NaN  397.0  25.9
 5173             1.52            6.1  2.0          NaN  275.0  44.7
 6118             1.55            6.5  2.0          NaN  321.0  13.4
 ...               ...            ...  ...          ...    ...   ...
 6090             1.70            7.7  2.0          NaN  382.0  32.7
 8626             1.77            7.3  2.0        155.0  258.0  30.2
 1511             1.70            7.3  1.0          NaN  340.0  35.0
 8628             1.97            7.0  2.0        130.0  220.0  26.4
 1443             1.71            7.0  1.0        150.0  349.0  45.6

       White blood cells        BMI  Pulse pressure
 6807                7.2  23.343263            68.0
 1053                6.2  29.241742            80.0
 5782                6.1  20.138752            50.0
 5173                8.9  20.744880            36.0
 6118                5.1  17.913857            36.0
 ...                 ...        ...             ...
 6090                9.0  23.156382            70.0
 8626                7.6  32.574150            65.0
 1511                8.8  21.080500            30.0
 8628               10.9  16.998084            60.0
 1443                5.2  28.936739            64.0

 [6863 rows x 18 columns],
        Age  Diastolic BP  Poverty index  Race  Red blood cells  \
 1756  36.0          80.0          358.0   1.0             48.0
 6705  68.0          82.0          187.0   1.0             45.8
 5611  31.0          72.0          199.0   1.0             77.7
 9445  26.0          70.0          542.0   1.0             52.4
 5816  38.0          70.0           30.0   2.0             40.0
 ...    ...           ...            ...   ...              ...
 7266  28.0          60.0          187.0   1.0             42.7
 9690  35.0          88.0          131.0   1.0             50.0
 4349  52.0          88.0          175.0   1.0             77.7
 3704  26.0          72.0          600.0   1.0             41.9
 2439  40.0          80.0           87.0   1.0             48.1

       Sedimentation rate  Serum Albumin  Serum Cholesterol  Serum Iron  \
 1756                11.0            4.8              198.0        99.0
 6705                 2.0            4.2              211.0       103.0
 5611                16.0            5.0              273.0        51.0
 9445                19.0            4.4              290.0        83.0
 5816                40.0            3.9              170.0        33.0
 ...                  ...            ...                ...         ...
 7266                19.0            4.2              178.0       160.0
 9690                 4.0            4.4              178.0       121.0
 4349                25.0            4.2              241.0       151.0
 3704                 9.0            4.4              138.0        48.0
 2439                17.0            4.7              214.0        52.0

       Serum Magnesium  Serum Protein  Sex  Systolic BP   TIBC    TS  \
 1756             1.67            7.1  2.0        120.0  401.0  24.7
 6705             1.66            6.6  1.0        146.0  327.0  31.5
 5611             1.78            6.9  1.0        110.0  363.0  14.0
 9445             1.48            7.0  2.0        118.0  335.0  24.8
 5816             1.69            6.9  2.0        118.0  183.0  18.0
 ...               ...            ...  ...          ...    ...   ...
 7266             1.78            7.2  2.0        110.0  334.0  47.9
 9690             1.58            7.2  2.0        112.0  356.0  34.0
 4349             1.60            5.7  1.0        132.0  341.0  44.3
 3704             1.77            7.0  2.0        102.0  384.0  12.5
 2439             1.42            7.4  1.0        140.0  354.0  14.7

       White blood cells        BMI  Pulse pressure
 1756                6.3  27.906406            40.0
 6705                7.5  26.183565            64.0
 5611                8.9  27.618977            38.0
 9445                7.6  21.191665            48.0
 5816               11.5  34.848682            48.0
 ...                 ...        ...             ...
 7266                5.3  21.537058            50.0
 9690                7.5  24.316163            24.0
 4349                6.5  27.173726            44.0
 3704                6.1  20.531873            30.0
 2439               12.2  24.166082            60.0

 [1716 rows x 18 columns],
 6807    False
 1053    False
 5782    False
 5173    False
 6118    False
         ...
 6090    False
 8626    False
 1511     True
 8628     True
 1443    False
 Name: time, Length: 6863, dtype: bool,
 1756    False
 6705     True
 5611     True
 9445    False
 5816     True
         ...
 7266    False
 9690    False
 4349    False
 3704     True
 2439    False
 Name: time, Length: 1716, dtype: bool)

As always, you first look over your data.

In [4]:
print("data shape: {}".format(data.shape))
data.head()

AttributeError: 'tuple' object has no attribute 'shape'

The column `Time` states how long the patient lived before they died or were censored.

The column `Event` says whether a death was observed or not. `Event` is 1 if the event is observed (i.e. the patient died) and 0 if data was censored.

Censorship here means that the observation has ended without any observed event.
For example, let a patient be in a hospital for 100 days at most. If a patient dies after only 44 days, their event will be recorded as `Time` = 44 and `Event` = 1. If a patient walks out after 100 days and dies 3 days later (103 days total), this event is not observed in our process and the corresponding row has `Time` = 100 and `Event` = 0. If a patient survives for 25 years after being admitted, their data for are still `Time` = 100 and `Event` = 0.

<a name='3'></a>
## 3. Censored Data

We can plot a histogram of the survival times to see in general how long cases survived before censorship or events.

In [5]:
data.Time.hist();
plt.xlabel("Observation time before death or censorship (days)");
plt.ylabel("Frequency (number of patients)");
# Note that the semicolon at the end of the plotting line
# silences unnecessary textual output - try removing it
# to observe its effect

AttributeError: 'tuple' object has no attribute 'Time'

<a name='Ex-1'></a>
### Exercise 1

In the next cell, write a function to compute the fraction ($\in [0, 1]$) of observations which were censored.

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Hints</b></font>
</summary>
<p>
<ul>
    <li>Summing up the <code>'Event'</code> column will give you the number of observations where censorship has NOT occurred.</li>
    
</ul>
</p>

### Solution

In [6]:
# UNQ_C1 (UNIQUE CELL IDENTIFIER, DO NOT EDIT)
def frac_censored(df):
    """
    Return percent of observations which were censored.
    
    Args:
        df (dataframe): dataframe which contains column 'Event' which is 
                        1 if an event occurred (death)
                        0 if the event did not occur (censored)
    Returns:
        frac_censored (float): fraction of cases which were censored. 
    """
    result = 0.0
    
    ### START CODE HERE ###
    censored_count = sum(df['Event'] == 0)
    result = censored_count/len(df)
    ### END CODE HERE ###
    
    return result

### End of Solution

In [7]:
print(frac_censored(data))

TypeError: tuple indices must be integers or slices, not str

Run the next cell to see the distributions of survival times for censored and uncensored examples.

In [8]:
df_censored = data[data.Event == 0]
df_uncensored = data[data.Event == 1]

df_censored.Time.hist()
plt.title("Censored")
plt.xlabel("Time (days)")
plt.ylabel("Frequency")
plt.show()

df_uncensored.Time.hist()
plt.title("Uncensored")
plt.xlabel("Time (days)")
plt.ylabel("Frequency")
plt.show()

AttributeError: 'tuple' object has no attribute 'Event'

<a name='4'></a>
## 4. Survival Estimates

We'll now try to estimate the survival function:

$$
S(t) = P(T > t)
$$

To illustrate the strengths of Kaplan Meier, we'll start with a naive estimator of the above survival function. To estimate this quantity, we'll divide the number of people who we know lived past time $t$ by the number of people who were not censored before $t$.

Formally, let $i$ = 1, ..., $n$ be the cases, and let $t_i$ be the time when $i$ was censored or an event happened. Let $e_i= 1$ if an event was observed for $i$ and 0 otherwise. Then let $X_t = \{i : T_i > t\}$, and let $M_t = \{i : e_i = 1 \text{ or } T_i > t\}$. The estimator you will compute will be:

$$
\hat{S}(t) = \frac{|X_t|}{|M_t|}
$$

<a name='Ex-2'></a>
### Exercise 2
Write a function to compute this estimate for arbitrary $t$ in the cell below.

### Solution

In [9]:
# UNQ_C2 (UNIQUE CELL IDENTIFIER, DO NOT EDIT)
def naive_estimator(t, df):
    """
    Return naive estimate for S(t), the probability
    of surviving past time t. Given by number
    of cases who survived past time t divided by the
    number of cases who weren't censored before time t.
    
    Args:
        t (int): query time
        df (dataframe): survival data. Has a Time column,
                        which says how long until that case
                        experienced an event or was censored,
                        and an Event column, which is 1 if an event
                        was observed and 0 otherwise.
    Returns:
        S_t (float): estimator for survival function evaluated at t.
    """
    S_t = 0.0
    
    ### START CODE HERE ###
    X = sum(df['Time'] > t)

    M = sum( (df['Time'] > t) | (df['Event'] == 1) )

    S_t = X / M
    ### END CODE HERE ###
    
    return S_t

### End of Solution

In [10]:
print("Test Cases")

sample_df = pd.DataFrame(columns = ["Time", "Event"])
sample_df.Time = [5, 10, 15]
sample_df.Event = [0, 1, 0]
print("Sample dataframe for testing code:")
print(sample_df)
print("\n")

print("Test Case 1: S(3)")
print("Output: {}, Expected: {}\n".format(naive_estimator(3, sample_df), 1.0))

print("Test Case 2: S(12)")
print("Output: {}, Expected: {}\n".format(naive_estimator(12, sample_df), 0.5))

print("Test Case 3: S(20)")
print("Output: {}, Expected: {}\n".format(naive_estimator(20, sample_df), 0.0))

# Test case 4
sample_df = pd.DataFrame({'Time': [5,5,10],
                          'Event': [0,1,0]
                         })
print("Test case 4: S(5)")
print(f"Output: {naive_estimator(5, sample_df)}, Expected: 0.5")

Test Cases
Sample dataframe for testing code:
   Time  Event
0     5      0
1    10      1
2    15      0


Test Case 1: S(3)
Output: 1.0, Expected: 1.0

Test Case 2: S(12)
Output: 0.5, Expected: 0.5

Test Case 3: S(20)
Output: 0.0, Expected: 0.0

Test case 4: S(5)
Output: 0.5, Expected: 0.5

In the next cell, we will plot the naive estimator using the real data up to the maximum time in the dataset.

In [11]:
max_time = data.Time.max()
x = range(0, max_time+1)
y = np.zeros(len(x))
for i, t in enumerate(x):
    y[i] = naive_estimator(t, data)
    
plt.plot(x, y)
plt.title("Naive Survival Estimate")
plt.xlabel("Time")
plt.ylabel("Estimated cumulative survival rate")
plt.show()

AttributeError: 'tuple' object has no attribute 'Time'

<a name='Ex-3'></a>
### Exercise 3

Next let's compare this with the Kaplan Meier estimate. In the cell below, write a function that computes the Kaplan Meier estimate of $S(t)$ at every distinct time in the dataset. 

Recall the Kaplan-Meier estimate:

$$
S(t) = \prod_{t_i \leq t} (1 - \frac{d_i}{n_i})
$$

where $t_i$ are the events observed in the dataset and $d_i$ is the number of deaths at time $t_i$ and $n_i$ is the number of people who we know have survived up to time $t_i$.

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Hints</b></font>
</summary>
<p>
<ul>
    <li>Try sorting by Time.</li>
    <li>Use <a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.unique.html">pandas.Series.unique<a> </li>
    <li>If you get a division by zero error, please double-check how you calculated `n_t`</li>
</ul>
</p>

### Solution

In [12]:
# UNQ_C3 (UNIQUE CELL IDENTIFIER, DO NOT EDIT)
def HomemadeKM(df):
    """
    Return KM estimate evaluated at every distinct
    time (event or censored) recorded in the dataset.
    Event times and probabilities should begin with
    time 0 and probability 1.
    
    Example:
    
    input: 
    
         Time  Censor
    0     5       0
    1    10       1
    2    15       0
    
    correct output: 
    
    event_times: [0, 5, 10, 15]
    S: [1.0, 1.0, 0.5, 0.5]
    
    Args:
        df (dataframe): dataframe which has columns for Time
                          and Event, defined as usual.
                          
    Returns:
        event_times (list of ints): array of unique event times
                                      (begins with 0).
        S (list of floats): array of survival probabilites, so that
                            S[i] = P(T > event_times[i]). This 
                            begins with 1.0 (since no one dies at time
                            0).
    """
    # individuals are considered to have survival probability 1
    # at time 0
    event_times = [0]
    p = 1.0
    S = [p]
    
    ### START CODE HERE (REPLACE INSTANCES OF 'None' with your code) ###
    
    # get collection of unique observed event times
    observed_event_times = df.Time.unique()
  
    # sort event times 
    observed_event_times = sorted(observed_event_times)
  
    # iterate through event times
    for t in observed_event_times:      
  
        # compute n_t, number of people who survive at least to time t
        n_t = len(df[df.Time >= t])
  
        # compute d_t, number of people who die at time t
        d_t = len(df[(df.Time == t) & (df.Event == 1)])
  
        # update p
        p = p*(1 - float(d_t)/n_t)
  
        # update S and event_times (ADD code below)
        # hint: use append
        event_times.append(t)
        S.append(p)
    
    ### END CODE HERE ###
  
    return event_times, S

### End of Solution

In [13]:
print("Test Cases\n")


print("Test Case 1\n")

print("Test DataFrame:")
sample_df = pd.DataFrame(columns = ["Time", "Event"])
sample_df.Time = [5, 10, 15]
sample_df.Event = [0, 1, 0]
print(sample_df.head())
print("\nOutput:")
x, y = HomemadeKM(sample_df)
print("Event times: {}, Survival Probabilities: {}".format(x, y))
print("\nExpected:")
print("Event times: [0, 5, 10, 15], Survival Probabilities: [1.0, 1.0, 0.5, 0.5]")

print("Test Case 2\n")

print("Test DataFrame:")

sample_df = pd.DataFrame(columns = ["Time", "Event"])
sample_df.loc[:, "Time"] = [2, 15, 12, 10, 20]
sample_df.loc[:, "Event"] = [0, 0, 1, 1, 1]
print(sample_df.head())
print("\nOutput:")
x, y = HomemadeKM(sample_df)
print("Event times: {}, Survival Probabilities: {}".format(x, y))
print("\nExpected:")
print("Event times: [0, 2, 10, 12, 15, 20], Survival Probabilities: [1.0, 1.0, 0.75, 0.5, 0.5, 0.0]")

Test Cases

Test Case 1

Test DataFrame:
   Time  Event
0     5      0
1    10      1
2    15      0

Output:
Event times: [0, 5, 10, 15], Survival Probabilities: [1.0, 1.0, 0.5, 0.5]

Expected:
Event times: [0, 5, 10, 15], Survival Probabilities: [1.0, 1.0, 0.5, 0.5]
Test Case 2

Test DataFrame:
   Time  Event
0     2      0
1    15      0
2    12      1
3    10      1
4    20      1

Output:
Event times: [0, 2, 10, 12, 15, 20], Survival Probabilities: [1.0, 1.0, 0.75, 0.5, 0.5, 0.0]

Expected:
Event times: [0, 2, 10, 12, 15, 20], Survival Probabilities: [1.0, 1.0, 0.75, 0.5, 0.5, 0.0]

Now let's plot the two against each other on the data to see the difference.

In [14]:
max_time = data.Time.max()
x = range(0, max_time+1)
y = np.zeros(len(x))
for i, t in enumerate(x):
    y[i] = naive_estimator(t, data)
    
plt.plot(x, y, label="Naive")

x, y = HomemadeKM(data)
plt.step(x, y, label="Kaplan-Meier")
plt.xlabel("Time")
plt.ylabel("Survival probability estimate")
plt.legend()
plt.show()

AttributeError: 'tuple' object has no attribute 'Time'

### Question

What differences do you observe between the naive estimator and Kaplan-Meier estimator? Do any of our earlier explorations of the dataset help to explain these differences?

<a name='5'></a>
## 5. Subgroup Analysis

We see that along with Time and Censor, we have a column called `Stage_group`. 
- A value of 1 in this column denotes a patient with stage III cancer
- A value of 2 denotes stage IV. 

We want to compare the survival functions of these two groups.

This time we'll use the `KaplanMeierFitter` class from `lifelines`. Run the next cell to fit and plot the Kaplan Meier curves for each group.

In [15]:
S1 = data[data.Stage_group == 1]
km1 = KM()
km1.fit(S1.loc[:, 'Time'], event_observed = S1.loc[:, 'Event'], label = 'Stage III')

S2 = data[data.Stage_group == 2]
km2 = KM()
km2.fit(S2.loc[:, "Time"], event_observed = S2.loc[:, 'Event'], label = 'Stage IV')

ax = km1.plot(ci_show=False)
km2.plot(ax = ax, ci_show=False)
plt.xlabel('time')
plt.ylabel('Survival probability estimate')
plt.savefig('two_km_curves', dpi=300)

AttributeError: 'tuple' object has no attribute 'Stage_group'

Let's compare the survival functions at 90, 180, 270, and 360 days

In [16]:
survivals = pd.DataFrame([90, 180, 270, 360], columns = ['time'])
survivals.loc[:, 'Group 1'] = km1.survival_function_at_times(survivals['time']).values
survivals.loc[:, 'Group 2'] = km2.survival_function_at_times(survivals['time']).values

NameError: name 'km1' is not defined

In [17]:
survivals

   time
0    90
1   180
2   270
3   360

This makes clear the difference in survival between the Stage III and IV cancer groups in the dataset.

<a name='5-1'></a>
## 5.1 Bonus: Log-Rank Test

To say whether there is a statistical difference between the survival curves we can run the log-rank test. This test tells us the probability that we could observe this data if the two curves were the same. The derivation of the log-rank test is somewhat complicated, but luckily `lifelines` has a simple function to compute it. 

Run the next cell to compute a p-value using `lifelines.statistics.logrank_test`.

In [18]:
def logrank_p_value(group_1_data, group_2_data):
    result = logrank_test(group_1_data.Time, group_2_data.Time,
                          group_1_data.Event, group_2_data.Event)
    return result.p_value

logrank_p_value(S1, S2)

NameError: name 'S1' is not defined

If everything is correct, you should see a p value of less than 0.05, which indicates that the difference in the curves is indeed statistically significant.

# Congratulations!

You've completed the third assignment of Course 2. You've learned about the Kaplan Meier estimator, a fundamental non-parametric estimator in survival analysis. Next week we'll learn how to take into account patient covariates in our survival estimates!